<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Upload Image</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen">
    <form  action="/upload/"  method="POST" enctype="multipart/form-data" class="bg-gray-800 p-6 rounded-2xl shadow-xl w-full max-w-md space-y-4">
        <h1 class="text-2xl font-bold text-center mb-4">
            Upload Image / Link
        </h1>
        <input type="text" name="name" required placeholder="Name" autocomplete="off"
            class="w-full p-2 rounded bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <textarea name="description" placeholder="Description" autocomplete="off"
            class="w-full p-2 rounded bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>

        <label class="block font-semibold">Upload File</label>
        <input type="file" name="imageUrl" class="w-full text-sm mb-2" />

        <div class="text-center text-gray-400 mb-2">OR</div>

        <input type="text" name="linkurl" placeholder="Paste Image Link" autocomplete="off"
            class="w-full p-2 rounded bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" />

        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-lg transition">
            Submit
        </button>
    </form>
</body>

</html>